<?xml version="1.0"?>
<launch>
    <include file="$(find racecar)/launch/teleop.launch"></include>
	<include file="$(find localization)/launch/particle_filter_live.launch"></include>

	<node pkg="cpp_assignment" name="a2" type="a2"/>
	<node pkg="cpp_assignment" name="root_node" type="root_node"/>
	<node pkg="cpp_assignment" name="full_tree_pp" type="full_tree_pp"/>
</launch>

